body {
    background-color: #40d93eff;
    color: white;
    font-family: 'Lato', sans-serif;
}

.description {
    color: black;
}

.command {
    font-weight: bold;
}

.hide {
    display: none;
}

.ui.vertical.menu {
    width: 22%;
}

.name {
    font-size: 30px;
    text-align: center;
}

.playlist-header {
    font-size: 25px;
    text-align: center;
}

.ui.vertical.menu .menu .playlist-item {
    font-size: 18px;
}

.pusher .ui.grid .row .column #gesture-text {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 10%;
    width: 100%;
    font-size: 100px;
}

.pusher .ui.grid .row .column #song-text, #artist {
    text-align: center;
    position: 'relative';
    margin-left: 20%;
    font-size: 20px;
}

.pusher .ui.grid .row .column #artist {
    margin-top: 10px;
    margin-bottom: 5%;
}

.pusher .ui.grid .row .column #corner {
    margin-top: 2%;
    margin-left: 92.5%;
}

.pusher .ui.grid .row .column #post-login-title {
    text-align: center;
    font-size: 52px;
    margin-left: 20%;
    margin-bottom: 240px;
}

.pusher .ui.grid .row .column #login-title {
    text-align: center;
    margin-top: 100px;
    font-size: 52px;
}

.pusher .ui.grid .row .column #login-button {
    text-align: center;
}

.circle.icon {
    position: fixed;
    top: 0px;
    right: 0%;
}

.pusher .ui.grid .row .column .ui.buttons {
    text-align: center;
    margin-left: 44%;
}

.pusher .ui.grid .row .column .ui.buttons#user-guide-button {
    text-align: center;
    margin-left: 56%;
}
